* {
    box-sizing: border-box;
}

body {
    background-color: #C4C4C4;
}

.container {
    max-width: 100%;

    padding-top: 50px;
    background-size: 100%;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: white;
}

.parentDiv,
.parentDiv2,
.parentDiv3 {
    width: 1000px;
    background: #e6e6e6;
    margin: auto auto;
    overflow: hidden;
    margin-bottom: 50px;
}

.div1,
.div2 {
    width: 200px;
    height: 200px;
    line-height: 200px;
    background: #FC8F8F;
    font-size: 64px;
}

.div1 {
    float: left;
}

.div2 {
    float: right;
}

.div3 {
    width: 200px;
    height: 200px;
    line-height: 200px;
    background: #FC8F8F;
    color: white;
    float: left;
    font-size: 64px;
}

.right {
    float: right;
}

.div4,
.div5,
.div6,
.div7 {
    width: 100px;
    height: 100px;
    line-height: 100px;
    float: left;
    background: #FC8F8F;
    margin-left: 15px;
    font-size: 36px;
}

.div8,
.div9 {
    width: 200px;
    height: 200px;
    line-height: 200px;

    background: #FC8F8F;
    margin-right: 15px;
    font-size: 64px;
}

.div8,
.div9 {
    float: left;
}



.right2 {
    float: right;
}

.div10 {
    margin-right: 15px;
}

.div10,
.div11 {
    width: 200px;
    height: 200px;
    line-height: 200px;
    background: #FC8F8F;
    font-size: 64px;
    float: left;
    margin-left: 0;
}